<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header text-center">
      <h3>Update Employer</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Enter your first name"
            [(ngModel)]="employee.firstName"
            name="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Enter your last name"
            name="lastName"
            [(ngModel)]="employee.lastName"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
            name="email"
            [(ngModel)]="employee.email"
          />
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <select
            class="form-select"
            id="department"
            name="department"
            [(ngModel)]="employee.departmentId"
          >
            <option selected>Select Department</option>
            <option value="1">Admin</option>
            <option value="2">HR</option>
            <option value="3">Finance</option>
            <option value="4">Marketing</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select
            class="form-select"
            id="role"
            name="role"
            [(ngModel)]="employee.roleId"
          >
            <option selected>Select Role</option>
            <option value="1">Manager</option>
            <option value="2">Team Lead</option>
            <option value="3">Developer</option>
            <option value="4">Intern</option>
          </select>
        </div>
        <div class="text-center">
          <button
            type="Update"
            class="btn btn-success btn-lg"
            (click)="updateEmployee()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
